<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
</head>
<body style="background: linear-gradient(84deg, #c665aa, #d54141);">
<center  style="    padding-top: 20vh;    padding-bottom: 20vh;">
    <div class="container" style="margin: 16vh -8vh;
    border: 2px solid black;
    border-radius: 14px;
    max: 110px;
    /* max-height: 80vh; */
    height: 475px; background: linear-gradient(2deg, #35b5a5, #ed8080); width: 409px;
    height: 290px;
}">
    <h1 style="margin-top: 28px;
    font-family: cursive;
    text-decoration: underline;">
    Download Docx</h1>
    <form action="/docx" method="POST">
        <input value={{variable}} id="3" name="filename" type="hidden">
        <button class="btn" style="margin-top: 18vh; margin-top: 18vh;
        border: 2px solid black;
        border-radius: 14px;
        color: black;
        font-family: cursive;
        font-size: large;
        background: aqua;"><i class="fa fa-download" ></i>Download</button>
    </form>
</center>
</div>

</body>
</html>
